* {
    color: rgb(225, 227, 230);
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", sans-serif;
    margin: 0;
    padding: 0;
}
/*body * {
    display: flex;
}*/
body {
    background-color: rgb(20, 20, 20);
}

.page {
    width: 1076px;
    padding: 0 15px 0 15px;
    position: relative;
    margin: auto;
}

.side_bar {
    width: 157px;
    position: relative;
    float: left;
    top: 0;
    display: block;
    font-size: 13px;
    margin-top: 16px;
}
.side_bar ol {
    margin: 0;
    padding: 0;
}
.side_bar ol li {
    display: list-item;
    list-style: none outside none;
    font-weight: 400;
    line-height: 15px;
}

.side_bar ol li:hover {
    border-radius: 4px;
    background-color: rgb(34, 34, 34);
}
.LeftMenuItem {
    text-decoration-color: rgb(113, 170, 235);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 6px 0 6px;
}

.LeftMenuItem .icon {
    color: rgb(113, 170, 235);
    margin-right: 10px;
}

.page_body {
    width: 911px;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page_block {
    flex-basis: 100%;
    background-color: rgb(34, 34, 34);
    position: relative;
    border-radius: 12px;
    box-shadow: rgb(54, 55, 56) 0px 0px 0px 1px;
    color: rgb(225, 227, 230);
    margin: 16px 15px 0 0;
    padding: 16px 20px 16px 20px;
}


div.field:hover, div.field *:hover {
    background-color: #4a4a4a;
}

.col-6 {
    flex-basis: calc(100% / 2 - 20px - 20px - 15px);
}

.col-4 {
    flex-basis: calc(100% / 3 - 20px - 20px - 15px);
}

.col-3 {
    flex-basis: calc(100% / 4 - 20px - 20px - 15px);
}

.col-2 {
    flex-basis: calc(100% / 6 - 20px - 20px - 15px);
}

.searchField .icon {
    color: rgb(225, 227, 230);
    padding-left: 16px;
    height: 16px;
}

.profile:hover, .profileMenuEntry:hover, .profileBlock a:hover, .searchField:hover, .searchField *:hover {
    background-color: rgba(174, 183, 194, 0.12)
}

input:focus-visible {
    outline: none;
}

.searchField input {
    color: rgb(225, 227, 230);
    background-color: rgba(0, 0, 0, 0);
    appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 8px;
    font-size: 14px;
}
